<ion-header>
    <ion-toolbar>
        <ion-title>Weather</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Weather</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card>
        <div>
            <h2>Temp</h2>
            <p>77°</p>
            <h2>Temp</h2>
            <p>77°</p>
            <h2>Temp</h2>
            <p>77°</p>
        </div>
    </ion-card>
</ion-content>