<ion-app>
  <ion-tabs>
    <ion-tab tab="home">
      <div id="home-page">
        <!-- what could go here: https://grok.com/share/bGVnYWN5_266ce79c-f225-4555-b13d-0b971b9900e1 -->
        <ion-header>
          <ion-toolbar>
            <ion-title>Home</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-header collapse="condense">
            <ion-toolbar>
              <ion-title size="large">Home</ion-title>
            </ion-toolbar>
          </ion-header>
        </ion-content>
      </div>
    </ion-tab>
    <ion-tab tab="weather">
      <div id="weather-page">
        <weather-page></weather-page>
      </div>
    </ion-tab>
    <ion-tab tab="water">
      <div id="water-page">
        <!-- PUT A TABLE OF AVERAGE WATER TEMP BY MONTH https://seatemperature.info/lake-powell-water-temperature.html -->
        <ion-header>
          <ion-toolbar>
            <ion-title>Water Info</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-header collapse="condense">
            <ion-toolbar>
              <ion-title size="large">Water Info</ion-title>
            </ion-toolbar>
          </ion-header>
        </ion-content>
      </div>
    </ion-tab>
    <ion-tab tab="more">
      <div id="more-page">
        <ion-header>
          <ion-toolbar>
            <ion-title>More</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-header collapse="condense">
            <ion-toolbar>
              <ion-title size="large">More</ion-title>
            </ion-toolbar>
          </ion-header>
        </ion-content>
      </div>
    </ion-tab>
  
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home" size="small"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="weather">
        <ion-icon name="cloud" size="small"></ion-icon>
        Weather
      </ion-tab-button>
      <ion-tab-button tab="water">
        <ion-icon name="water" size="small"></ion-icon>
        Water
      </ion-tab-button>
      <ion-tab-button tab="more">
        <ion-icon name="grid" size="small"></ion-icon>
        More
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>  
</ion-app>
