<ion-app>
  <ion-tabs>
    <ion-tab tab="home">
      <div id="home-page">
        <!-- what could go here: https://grok.com/share/bGVnYWN5_266ce79c-f225-4555-b13d-0b971b9900e1 -->
        <ion-header>
          <ion-toolbar>
            <ion-title>Home</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-header collapse="condense">
            <ion-toolbar>
              <ion-title size="large">Home</ion-title>
            </ion-toolbar>
          </ion-header>
        </ion-content>
      </div>
    </ion-tab>
    <ion-tab tab="radio">
      <div id="radio-page">
        <ion-header>
          <ion-toolbar>
            <ion-title>Weather</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-header collapse="condense">
            <ion-toolbar>
              <ion-title size="large">Weather</ion-title>
            </ion-toolbar>
          </ion-header>
        </ion-content>
      </div>
    </ion-tab>
    <ion-tab tab="library">
      <div id="library-page">
        <ion-header>
          <ion-toolbar>
            <ion-title>Water Info</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-header collapse="condense">
            <ion-toolbar>
              <ion-title size="large">Water Info</ion-title>
            </ion-toolbar>
          </ion-header>
        </ion-content>
      </div>
    </ion-tab>
    <ion-tab tab="search">
      <div id="search-page">
        <ion-header>
          <ion-toolbar>
            <ion-title>More</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-header collapse="condense">
            <ion-toolbar>
              <ion-title size="large">More</ion-title>
            </ion-toolbar>
          </ion-header>
        </ion-content>
      </div>
    </ion-tab>
  
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <fa-icon [icon]="faHome" size="2x" />
        Home
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <fa-icon [icon]="faCloud" size="2x" />
        Weather
      </ion-tab-button>
      <ion-tab-button tab="library">
        <fa-icon [icon]="faWater" size="2x" />
        Water
      </ion-tab-button>
      <ion-tab-button tab="search">
        <fa-icon [icon]="faLayerGroup" size="2x" />
        More
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>  
</ion-app>
